/*
xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px

  */

:root {
	--custom-text: #493267;
	--custom-accent:#85A9A4;
	--custom-gradient-1: #F7EBD7;
	--custom-gradient-2: #E3BEA1;
	--custom-font: Georgia;
}

* {
	box-sizing: border-box;
	font-family: var(--custom-font);
}

.material-symbols-outlined { color: var(--custom-accent);}

body {
	height: 100vh;
	background-size: 100%;
	background-color: transparent;
	background-image: linear-gradient(114deg, var(--custom-gradient-1) 0%, var(--custom-gradient-2) 100%);
	color:var(--custom-text);
}

#subtitle {
	text-align: center;
	color:var(--custom-text);
}

.collage_title { padding-left:10%;}

/*img of keefer*/
.keefer {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	height:auto;
	max-width:90%;
	margin-left:10%;
}

/*navigation*/
.sidebar {
	float:left;
}

.sidebar a {
	padding: 5%;
	text-decoration: none;
	color: var(--custom-text);
	display:flex;
	font-weight: bold;
	justify-content:left;
	transition: .1s;
	font-size:110%;
}

.button:hover > a, .button:hover > a > span {
	font-size:140%;
}

/*lines between nav buttons*/
hr {
	opacity: 0.5;
	width:100%;
	color: var(--custom-text);
}


/*main*/
.main {
	float:left;
}


ul li a {
	font-size:16px;
	text-decoration:none;
	color:var(--custom-text);
	display:block;
	padding:40px;
	font-weight:bold;
}


/*say hello page*/

#sayhi {
	margin: auto;
}

label,input {
	display:block;
	padding:20px;
	text-align: center;
}

input[type=text], textarea {
	background-color: var(--custom-background);
	color: var(--custom-text);
	
	width:50%;
	margin:auto;
	
	border:none;
	border-bottom: 2px solid var(--custom-text);
	padding: 5px 0;
	outline:none;
	
	text-align: left;
}

input[type=submit] {
	padding: 10px;
	margin:auto;
	margin-top: 10px;
	border-color: var(--custom-text);
	border-radius:5px;
	background-color: var(--custom-background);
	color: var(--custom-text);
}

textarea {
	/*An Experimental Property; it does not work in all browsers.
	  Write own method.*/
	field-sizing:content;
	
	resize:none;
	margin-left: 25%;
}

#collages {
	display: flex;
	flex-wrap: wrap;
}

.frame {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
	border-radius: 5px;
	background-color: white;
	margin: 10px;
}

@media (min-width: 768px) {
	.frame {
		width: 33.33333%;
	}
}

.frame:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.frame img {
	width:100%;
}

.frame h4 {
	color: var(--custom-accent);
	text-align: center;
	width:100%;
	padding: 5px 0px;
	margin: auto;
}
/* textarea:focus {
	rows:"1";
} */

#enlargedFrame {
	position: absolute;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	background-color: white;
	z-index: 10;
	max-width: 90%;
	height: auto;
	margin: 5%;
}

#bigImage {
	width:100%;
}

#X {
	position: absolute;
	top: 1;
	left: 1;
	font-size: 200%;
	color: var(--custom-accent);
}

.size-guide:empty {
  display: none; /* Hide the element if it's empty */
}

#playback audio {width:100%;}

#playback {
	display:flex;
}

#playback img {
	width: 50%;
}

#playback article {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: end;
}

footer {
	position: fixed;
	bottom: 0;
	display: flex;
	margin-top: 20px;
}
footer a, small {
	text-decoration:none;
	color: var(--custom-text);
	font-size: 16px;
	padding: 10px;
}
